menu "My Split Keyboard Shields"

config SHIELD_HANDWIRED_SPLIT_LEFT
    bool "handwired_split_left"
    default $(shields_list_contains,handwired_split_left)

config SHIELD_HANDWIRED_SPLIT_RIGHT
    bool "handwired_split_right"
    default $(shields_list_contains,handwired_split_right)

endmenu
